
    .card{
        height: 350px;

        &:hover{
            height: min-content;
        }

        .img{
        object-fit: contain;
        }

        .h5{
            font-weight: bold;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .body1{
            font-weight: 550;
            text-align: center;
            margin: 10px 0;
            width: 100px;
            font-family: 'Times New Roman', Times, serif;
        }
        
        .body2{
            font-size: 13px;
            text-align: justify;
            font-style: italic;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }

        i{
            padding-top: 20px;
            cursor: pointer;
        }
    }

