#root {
  max-width: 1280px;
 
  text-align: center;
  font-family: monospace;
  background-color: hsl(0, 10%, 8%);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #191717;
}
.header {
  background-color: rgb(237, 237, 237);
  padding: 1rem;
}

.header .logo h1 {
  margin: 0;
}

.header .nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.header .nav-item {
  margin: 0 1rem;
}

.header .nav-item a {
  color: rgb(0, 0, 0);

}


